.cart-summary {
    background-color: #ffe0b3;
}
.cart {
    position: sticky;
    top: 0;
    padding-top: 5px;
}

.summary-title {
    text-align: center;
    font-size: 25px;
    margin: 35px 0 32px 0;
}
.summary-details {
    padding: 25px;
}
.summary-details p {
    font-size: 17;
}
.grand-total {
    font-size: 21px;
}
.summary-btn {
    padding: 16px;
    display: flex;
    flex-direction: column;
}
.clear-btn {
    padding: 14px;
    margin-bottom: 16px;
    background-color: #ff0101;
    font-size: 17px;
    color: #fff;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}
.clear-btn:hover {
    background-color: #af3030;
}
.review-btn {
    padding: 14px;
    background-color: #ff9900;
    font-size: 17px;
    color: #fff;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}
.review-btn:hover {
    background-color: #c48a33;
}
