.single-product {
    border: 1px solid lightgrey;
    border-radius: 8px;
    transition: 1s;
    position: relative;
    font-family: lato;
}
.product-thumbnail {
    margin: 8px;
}
.single-product:hover {
    -webkit-box-shadow: 1px 2px 20px 9px rgba(0, 0, 0, 0.44);
    box-shadow: 1px 2px 20px 9px rgba(0, 0, 0, 0.44);
}
.card-info {
    padding: 16px;
}
.product-title {
    font-size: 21px;
    margin: 11px 0;
}
.product-price {
    font-size: 17px;
    margin: 0 0 120px 0;
}
.ratings-manufacturer {
    margin-bottom: 10px;
    position: absolute;
    bottom: 35px;
}
.ratings-manufacturer p {
    margin: 0 0 11px;
}
.cart-btn {
    width: 100%;
    padding: 12px;
    border: 0px solid #95a0a7;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    background-color: #ffe0b3;
    position: absolute;
    bottom: 0px;
    cursor: pointer;
    transition: 0.5s;
}
.cart-btn:hover {
    background-color: orange;
    color: #fff;
}
.cart-icon {
    padding-left: 10px;
}
@media only screen and (max-width: 906px) {
    .single-product {
        max-width: 350px;
    }
}
