.nav {
    background: #1c2b35;
}
.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1450px;
    margin: 0 auto;
}
.header a {
    color: #fff;
    text-decoration: none;
    padding-left: 20px;
    font-size: 20px;
}
.header a:hover {
    color: orange;
    font-weight: 500;
}

@media only screen and (max-width: 906px) {
    .header {
        width: 100%;
        margin: 0 10px;
    }
    .header a {
        padding-left: 10px;
        font-size: 15px;
    }
}
